<div class="form-container">
    <div class="form-card">
      <h1>Password Reset Link</h1>
      <p>Please enter your registered email to continue.</p>
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" placeholder="Enter your email" />
          <div *ngIf="forgotForm.get('email')?.invalid && (forgotForm.get('email')?.dirty || forgotForm.get('email')?.touched)">
            <small class="error" *ngIf="forgotForm.get('email')?.errors?.['required']">Email is required.</small>
            <small class="error" *ngIf="forgotForm.get('email')?.errors?.['email']">Enter a valid email.</small>
          </div>      </div>
        <button type="submit" class="sign-in-btn" [disabled]="forgotForm.invalid">Send Link</button>
      </form>
    </div>
  </div>
  